.assistant{
    width: 400px;
    height: 200px;
    background-color: red;

    position: absolute;

}

.assistant-container{
    /*position: relative;*/
    background-color: blue;

    transform-origin: center;
    top: 25%;
    height: 50%;
}