.assistant{
    width: 400px;
    height: 200px;

    position: relative;

    display: flex;

    z-index: 500000;

}


.assistant-info{
    background-color: #61dafb;



    width: 50%;

}
.assistant-container-draggable {
    cursor: auto;
    background-color: blue;
    --drag-size: 100px;
    height: var(--drag-size);
    width: var(--drag-size);
}

.assistant-core{
    background-color: yellow;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.expand-button{
    position: absolute;
    top: 5px;
}

.hide{
    display: none;
}